<div class="widget-wrap">
  <h3 class="widget-title">About me</h3>
  <div class="widget">
    <p><strong>彭洪伟</strong></p>
    <p><a href="https://www.thoughtworks.com/">ThoughWorks</a>一线码农。</p>
    <p>
      Angular早期使用者，<a href="http://ngnice.com/">ngnice</a>的早期贡献者之一。除了前端技术，对Java、Scala、Ruby等也均有涉猎，并且翻译了构建工具<a href="http://www.scala-sbt.org/0.13/docs/zh-cn/index.html">SBT</a>的文档。
    </p>
    <p>
      <img src="http://pengisgood.github.io/imgs/angular-best-practice.jpg" alt=""/>
    </p>
  </div>
</div>
